/** fixes bug with checkboxes not being displayed when using bootstrap */
input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute !important;
    left: auto !important;
    opacity: 1 !important;
}

/** fixes bug with overflow scroll bar in tabs when switching to second tab */
.tabs {
    overflow-x: hidden;
}

.error_msgs {
    color: red;
}

#legal_stuff_container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    color: white;
    padding: 0.2em 0.5em 0 0;
}

#legal_stuff_container a {
    color: white;
    text-decoration: underline;
}

.sweet-alert.wide {
    max-height: 90%;
    width: 80%;
    position: fixed;
    left: 10%;
    margin-left: 0;
    text-align:left;
    overflow-y: auto;
}

.sweet-alert.wide p {
    margin-bottom: 1.5em !important;
}

.sweet-alert.wide strong {
    font-weight: bold;

body {
    position: relative;
}

body > button.btn.btn-default.action-button.shiny-bound-input {   /** bookmark button */
    position: absolute;
    top: 0;
    right: 0;
}

pre.share-url {
    margin-top: 15px;
    font-size: 13px;

}