/** fixes bug with checkboxes not being displayed when using bootstrap */
input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute !important;
    left: auto !important;
    opacity: 1 !important;
}

/** fixes bug with overflow scroll bar in tabs when switching to second tab */
.tabs {
    overflow-x: hidden;
}

.error_msgs {
    color: red;
}

.sweet-alert.wide {
    max-height: 90%;
    width: 80%;
    position: fixed;
    left: 10%;
    margin-left: 0;
    text-align:left;
    overflow-y: auto;
}

.sweet-alert.wide p {
    margin-bottom: 1.5em !important;
}

.sweet-alert.wide strong {
    font-weight: bold;
}

body {
    position: relative;
}

div.btns_top_right {
    position: absolute;
    top: 0;
    right: 0;
}

div.btns_top_right button {
    font-size: 80%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

div.btns_top_right button i {
    font-size: 80%;
}

pre.share-url {
    margin-top: 15px;
    font-size: 13px;
}

.btn, .btn-large, .sweet-alert button,
.btn:hover, .btn-large:hover, .sweet-alert button:hover,
.btn:active, .btn-large:active, .sweet-alert button:active,
.btn:focus, .btn-large:focus, .sweet-alert button:focus {
    color: #fff;
    background-color: #5f89fa;
    border-color: #5f89fa;
}

